{% extends 'base.html' %}


{% block content %}
    <div class="">
        <p style="color: #888;">
            Hello {{ username }}, thanks for making an order with us !,
            You can trace the process with the following number<br/><br/>
            <span style="font-weight: bold;">{{ reference }}</span>
        </p>

        <div style="border: 1px solid #eee;
                border-radius: 2px;
                padding: 10px;
                text-align: center;
                color: #da3636;
                font-weight: bold;">
            ORDER ID: {{ order_id }}
        </div>
        <br>

        <p style="color: #888;">Best regards, Turing E-commerce team !!!</p>

    </div>
{% endblock %}